// src/styles/_variables.scss
$color-primary: #333333; 
$color-secondary: #f0a500; 
$color-text: #555555; 
$color-background: #f8f8f8; 
$color-white: #ffffff; 
$color-border: #e0e0e0; 

$font-heading: "Noto Sans", sans-serif; 
$font-body: "Manrope", sans-serif;
