// src/styles/_variables.scss
$color-primary: #333333; // Quasi nero per testo importante
$color-secondary: #f0a500; // Un arancione/oro per accenti
$color-text: #555555; // Grigio scuro per testo normale
$color-background: #f8f8f8; // Sfondo molto chiaro
$color-white: #ffffff; // Bianco
$color-border: #e0e0e0; // Bordo chiar

$font-heading: "Noto Sans", sans-serif; // Nuovo font per titoli
$font-body: "Manrope", sans-serif; // Nuovo font per i testi
