// src/styles/main.scss
@import "variables";
@import "reset";

body {
  font-family: $font-body;
  background-color: $color-background;
  color: $color-text;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  color: $color-primary;
  margin-bottom: 0.8em;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
}
