// src/styles/main.scss
@import "variables";
@import "reset";

body {
  font-family: $font-main;
  background-color: $color-background;
  color: $color-text;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
