// src/pages/HomePage.module.scss
@import "../styles/variables";

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2.5rem; 
  padding: 2rem 0; 
}

.loading,
.error {
  text-align: center;
  padding: 6rem 0; 
  font-size: 1.4rem; 
  font-family: $font-heading; 
  color: $color-primary;
}
