// src/components/Footer.module.scss
@import "../styles/variables";

.footer {
  text-align: center;
  padding: 2.5rem 2rem; 
  margin-top: 4rem; 
  background-color: $color-white; 
  border-top: 1px solid $color-border; 
  color: $color-text;
  font-size: 0.9rem;
}
