// src/components/Footer.module.scss
@import "../styles/variables";

.footer {
  text-align: center;
  padding: 2.5rem 2rem; // Più padding
  margin-top: 4rem; // Più spazio sopra
  background-color: $color-white; // Sfondo bianco
  border-top: 1px solid $color-border; // Bordo sottile
  color: $color-text;
  font-size: 0.9rem;
}
