@import "../styles/variables"; // Importa le variabili di colore

.header {
  background-color: $color-primary;
  color: $color-white;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: $color-white;
  text-decoration: none;
}

.nav {
  a {
    // Stile "annidato" grazie a SCSS
    color: $color-white;
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 1.1rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
